.footer{
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.footer-text{
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align:left;
}
.footer-media {
  text-align: end;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;

  }
  .fa:hover {
    opacity: 0.7;
  }
  /* Facebook */
  .fa-facebook {
    background: #000;
    color: white;
  }
  /* Instagram */
  .fa-instagram {
    background: #000;
    color: white;
    &:hover{
        color: #f0333f; 
        }
    }
  