.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-trans {
  border-bottom: 0.01rem solid !important;
  border-bottom-color: rgba(255, 255, 255, 0.1) !important; 

}

.navbar-nav {
  font-size: 15px !important; 
}

#nav {
  transition: all 0.3s ease-in-out;

}

#nav.scroll{
  position: fixed ;
   background-color: #0f0f0f;
  transition: all 0.3s ease-in-out;
}




.navbar-scrolled {
  background-color: #222;
  width: 100%;
}



.navbar {
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

.nav-link:hover {
  color: rgba(234, 65, 4, 0.842) !important; }

.logo {
  padding-left: 15px;
  height: 88px;
  width: 100px; }

body, html {
  height: 100%; }

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.662), rgba(0, 0, 0, 0.867)), url("../multimedia/imgworkshop1.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 0px; }

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; }

.button-us {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px !important;
  background: rgba(255, 105, 0, 0.5) !important;
  color: white !important;
  border-width: 1px !important;
  border-color: rgba(255, 255, 255, 0.1) !important;
  size: 200px; }
  .button-us:hover {
    transition: 0.2s;
    color: #0a0909 !important;
    background-color: rgba(225, 105, 0, 0.295) !important; }

    .footer {
      background-color: black;
      color:rgba(255, 255, 255, 0.616);
      padding: 40px;
    }
    
    .footer-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    .footer-block {
      flex-basis: 100%;
      max-width: 400px;
    }
    
    .footer-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    
    .footer-form {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }
    
    .footer-form-group {
      flex-basis: 100%;
      margin-bottom: 20px;
    }
    
    .label-footer {
      display: block;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    input[type="text"],
    input[type="email"],
    textarea {
      background-color: transparent;
      border: 2px solid white;
      color: white;
      font-size: 16px;
      padding: 10px;
      width: 100%;
    }
    
    button[type="submit"] {
      background-color: white;
      border: none;
      color: black;
      font-size: 16px;
      padding: 10px 20px;
      margin-top: 20px;
      cursor: pointer;
    }
    
    .button-us {
      background-color: #f0333f;
      border: none;
      color: white;
      font-size: 16px;
      padding: 10px 20px;
      margin-top: 20px;
      cursor: pointer;
    }
    
    .footer-link{
      color:rgba(255, 255, 255, 0.616) ;
      text-decoration: none;
      margin-bottom: 10px;
    }
    

    .footer-link:hover{
      color: white;
    }



.fa {
  padding: 20px;
  font-size: 40px;
  width: 40px;
  text-align:center;
  text-decoration: none;
  border-radius: 50%; }

.fa:hover {
  opacity: 0.7; }

/* Facebook */
.fa-facebook {
  background: #000;
  color: white; }

/* Instagram */
.fa-instagram {
  background: #000;
  color: white; }
  .fa-instagram:hover {
    color: #f0333f; }
